#grid-container {
    display: grid;     
    padding: 20vh;    
    max-width: 620px;
    max-height: 620px;
    margin: auto;  
}

.grid-block {    
    background-color: lightblue;    
    margin: auto;   
}