#grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto auto
                           auto auto auto auto auto auto auto auto;       
    height: 20px;
    width: 20px;
    padding-left: 30vw;
    padding-top: 20vh;    
}

.grid-block {
    height: 20px;
    width: 20px;    
    background-color: lightblue;       
     
}